@charset "UTF-8";
/* Copyright © 2019-2024 Linus Vanas SPDX-License-Identifier: CC-BY-SA-4.0 */
body { background-color: #EEFFEE; font-family: sans-serif; margin: auto; max-width: 52em; }

a:link { color: #006600; }

a:visited { color: #003300; }

a:hover { color: #009900; }

a:active { color: #009900; }

header { text-align: center; }

main { padding: 0 1em; text-align: justify; }

footer { border-top: .1em solid black; font-size: 83%; text-align: center; }

footer p { margin: .25em; }

footer a { display: inline-block; }

table { border-collapse: collapse; }

td { border: 0.2em double #006600; font-size: 96%; }

img { display: block; margin: auto; max-width: 100%; }

h2 { text-align: center; }
